doctype html
html
    head
        title candle's website
        link(rel="stylesheet", href="./style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Anonymous+Pro")
    body
        #column
            h1 candle's website
            p this is my website where i put things related to digital creative tools and communities around them
            .links
                a(href="http://candle.itch.io/") play my games
                a(href="https://twitter.com/ragzouken") talk to me on twitter
                a(href="mailto:ragzouken+neocities@gmail.com") contact me by email
            h2 pinned
            .links
                a(href="https://kool.tools/domino") domino mapping tool
                a(href="https://kool.tools/zone") zone hangout space
                a(href="https://candle.itch.io/flicksy") flicksy game maker
                a(href="https://kool.tools/blog.html") old blog
            h2 friends
            .webring
                a(href="http://emreed.net") <- Em's site
                a(href="https://emreed.net/LowTech_Directory.html").banner
                    img(src="http://emreed.net/LTW.bmp" alt="LOW TECH WEBRING")
                a(href="http://spdrcstl.com/") Freya's site ->
