extends includes/layout.pug

append header
    .links
        a(href="http://candle.itch.io/") play my games
        a(href="https://twitter.com/ragzouken") talk to me on twitter
        a(href="mailto:ragzouken+neocities@gmail.com") contact me by email

block footer
    include includes/webring.pug

block content
    h2 updated pages
    .links
        a(href="./zone.html") about zone
    h2 pinned links
    .links
        a(href="https://kool.tools/domino") domino mapping tool
        a(href="https://kool.tools/zone") zone hangout space
        a(href="https://candle.itch.io/flicksy") flicksy game maker
        a(href="https://candle.itch.io/world-of-bitsy") world of bitsy
        a(href="https://kool.tools/blog.html") old blog
