extends ../includes/layout.pug

append content
    h2 about zone
    .links
        a(href="./zone/") zone calendar
        a(href="https://tinybird.zone") tinybird.zone
        a(href="https://www.youtube.com/playlist?list=PLUkMc2z58ECZFcxvdwncKK1qDYZzVHrbB") bangers playlist
        a(href="https://github.com/Ragzouken/zone") zone software project
        a(href="http://wiz.zone/") wizmud
    section
        p zone is a place online
    section
        h3 glossary
        ul
            li an #[em "avatar"] is the little graphic that represents a #[em zonie's] presence in zone
            
            li #[em "/banger"] is a chat command that queues a random #[em banger] from the #[em bangers playlist]
            
            li a #[em "banger"] is any good song, or specifically a song present on the #[em bangers playlist], or the chat command #[em /banger]
            
            li the #[em "bangers playlist"] is a youtube playlist of bangers semi-canonical to zone 

            li #[em "bitsy"] is a game making tool whose aesthetic limitations are the basis for much the visual design of zone. it is also a community of users of the tool, which most zonies are a member of

            li #[em "bitsy cat"] is the default npc character in a new #[em bitsy] world 

            li a #[em "dj"] is a role granted temporarily by admins to allow a zonie to queue and skip videos during #[em event mode]

            li an #[em "echo"] is a ghostly copy of someone's avatar left permanently with a message for others to read
            
            li #[em "emotes"] are the various effects that can be applied to avatars e.g floating, shaking, flashing, spinning
            
            li #[em "event mode"] is a state that admins can put zone into to restrict the queueing and skipping of videos to #[em djs]

            li #[em "jumping"] is a reference to the musical genre "jumpstyle" which is associated with a number of #[em bangers]

            li #[em "/lucky"] is a chat command that takes search terms and queues the first video youtube search finds. in the earliest days of zone, all videos were queued this way

            li #[em "outer zone"] is all areas of zone outside of the initial viewing platform, particularly the structures made by other zonies 
            
            li the #[em "popout video"] is a feature that lets you see the playing video raw on the web page instead of inside the 3d space of zone

            li #[em "the void"] is the dark and endless expanse beyond the walkable surfaces of zone

            li #[em "wizmud"] is a zone-like place that originally inspired the creation of zone

            li #[em "wivrave"] was a precursor activity to zone where #[em zonies]-to-be listened to #[em bangers] in #[em wizmud]

            li #[em "zone"] is the particular zone at tinybird.zone, and the software that zone and other instances of zone are running 

            li a #[em "zonie"] is anyone presently #[em zoning], or in particular anyone who #[em zones] regularly

            li #[em "zoning"] is the activity of being present in zone and particularly chatting along the shared music and movies

    h2 names for those who zone
    .links
        a zonies
        a zoners
        a zoneheads
        a zonesters
        a zoneholios
        a zonefolks
    
    h2 patron saints of zone
    .links
        a bitsy cat
        a scooter
        a scatman
        a britney spears
        a carly rae jepsen
        a neil cicierega
