extends includes/layout.pug

append content
    h2 about zone
    .links
        a(href="./zone/") zone calendar
        a(href="https://tinybird.zone") tinybird.zone
    article
        h3 test
        p hello

block footer
    include includes/return.pug