doctype html
html
    head
        title candle's website
        link(rel="stylesheet", href="./style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Anonymous+Pro")
    body
        #column
            block header
                h1 candle's website
                p this is my website where i put things related to digital creative tools and communities around them
            block content
            block footer
                include return.pug
