h2 friends
.webring
    a(href="http://emreed.net") <- Em's site
    a(href="https://emreed.net/LowTech_Directory.html").banner
        img(src="http://emreed.net/LTW.bmp" alt="LOW TECH WEBRING")
    a(href="http://spdrcstl.com/") Freya's site ->
